h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: #2874A6;
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: #2874A6;
}
img{
    border: 2px solid black;
    border-radius: 50px;
    width: 100px;
    height: 150px;
}